<p class="text-center">Pizzeria now gives you option to build your own pizza. Customize your pizza from the ingredients list given below.</p>
<h5 class="text-center text-danger" *ngIf="notFetched">Could Not Fetch Data</h5>
<div class="row">

    <table class="table table-striped col-12 col-sm-8 offset-sm-2">
        <tbody>
            <tr *ngFor="let bp of customPizzaData; let i = index">
                <td><img [src]="bp.image" style="width: 10%; height: 10%;" ></td>
                <td><strong>{{bp.tname}} &nbsp; &#8377;{{bp.price}}</strong></td>
                <td style="color: darkorange;"><input type="checkbox"
                    name="bp{{bp.id}}"
                    [checked]="inCart(bp.id)"
                    (change)="computeCost(bp,$event)"> Add</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <h5 class=" col-12 col-sm-5 offset-sm-2">Total Cost: &#8377;{{cost}}</h5>
</div>
<div class="row">
    <button class="btn btn-dark btn-outline-warning col-5 col-sm-2 offset-3 offset-sm-5" (click)="sendIngredients()" >Build Pizza</button>
</div>


